@model RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/shop/register.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <div class="login">
        <div class="login-img">

        </div>
        <div class="login-form">
            <img src="~/images/shop/register/Group 21.svg" />
            <div class="login-form-input">
                <h1>Đăng ký</h1>
                <form asp-controller="Account" asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <label for="">Họ và tên</label>
                    <input asp-for="UserName" type="text">
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <label for="">Email</label>
                    <input asp-for="RegisterEmail" type="text">
                    <span asp-validation-for="RegisterEmail" class="text-danger"></span>

                    <label for="">Giới tính</label><br>
                    <div class='sex'>
                        <label for="f-option" class="l-radio">
                            <input asp-for="Gender" type="radio" id="f-option" name="gender" value="1" tabindex="1">
                            <span>Nam</span>
                        </label>
                        <label for="s-option" class="l-radio">
                            <input asp-for="Gender" type="radio" id="s-option" name="gender" value="0" tabindex="2">
                            <span>Nữ</span>
                        </label>
                        <label for="t-option" class="l-radio">
                            <input asp-for="Gender" type="radio" id="t-option" name="gender" value="2" tabindex="3">
                            <span>Khác</span>
                        </label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <label for="">Ngày sinh</label><br>
                    <input asp-for="DateOfBirth" type="date" name="" id="">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    <br />

                    <label for="">Số điện thoại</label>
                    <input asp-for="PhoneNumber" type="text">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    <label for="">Mật khẩu</label>
                    <input asp-for="RegisterPassword" type="password">
                    <span asp-validation-for="RegisterPassword" class="text-danger"></span>

                    <label for="">Xác nhận mật khẩu</label>
                    <input asp-for="ConfirmPassword" type="password">
                    <span asp-validation-for="ConfirmPassword"></span>

                    <button type="submit">Đăng ký</button>
                </form>

                <p>Bạn đã có tài khoản? <a asp-controller="Account" asp-action="Login">Đăng nhập</a></p>
            </div>
            <img src="~/images/shop/register/Group 21.svg" />
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>