
<div class="content">
    <img src="~/images/shop/home/2563956 1.png" />
    <img src="~/images/shop/home/1528 1.png" />
    <img src="~/images/shop/home/Rectangle 48 (1).png" />

    <div class="content-shop">
        <div class="content-shop-text">
            <h1>High-Quality</h1>
            <h1>Furniture Just</h1>
            <h1>For You</h1>
            <p>Our furniture is made from selected and best quality materials that are suitable for your dream home</p>
            <a href="">Shop Now</a>
        </div>
    </div>
    <div class="content-cost">
        <div class="content-cost-text">
            <h3>Bohauss</h3>
            <p>Luxury big sofa 2-seat</p>
            <h3>Giá: 17.000.000 <i class="fas fa-arrow-right"></i></h3>

        </div>
    </div>
</div>


<div class="product">
    <div class="product-item">
        <img src="images/shop/home/Images.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>

    <div class="product-item">
        <img src="~/images/shop/home/img2.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>
    <div class="product-item">
        <img src="~/images/shop/home/img3.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>
    <div class="product-item">
        <img src="~/images/shop/home/img4.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>
    <div class="product-item">
        <img src="~/images/shop/home/img5.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>
    <div class="product-item">
        <img src="~/images/shop/home/img6.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>
    <div class="product-item">
        <img src="~/images/shop/home/img7.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>
    <div class="product-item">
        <img src="~/images/shop/home/img8.png" />
        <div class="product-item-info">
            <h3>Syltherine</h3>
            <p>Stylish cafe chair</p>
            <h3>Giá: 2.500.500</h3>
        </div>
    </div>
    <a href="">Show more</a>
</div>
